/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
/** Headbar Klassen zB Logo */
#head_wrap{  
background:#000; 
line-height:35px;
}
#head_wrap_left img{  
	padding-top:4px;
	padding-left:3px;
	width: 80px; 
	border:none;
	margin-top: 8px;
	margin-left:15px;
}

#head_wrap_left  {  
	float:left; 
	width: 125px;;

 }




#head_wrap_right{  
		font-weight:bold;
	width:100%;
 	 color:#fff;
	 line-height:35px;

 }
 
 
 
 

 /*Contentbereich*/
 
 #content_wrap {width:auto; text-align:left; background:#f3f3f3;  padding:20px;
  }
 
 
 #wrap{ min-width:480px; width: 100%; max-width:960px;}
 
 /*Toggle Button*/
 
 h1{
   font-size: 2em;
   font-weight: bold;
   color: #777777;
   margin: 40px 0px 70px;
   text-align: center;
}
.gwt-ToggleButton-up {
   color:green;
} 
.gwt-ToggleButton-down {
   color:blue;
} 
.gwt-ToggleButton-up-hovering {
   color:pink;
} 
.gwt-ToggleButton-down-hovering {
   color:aqua;
} 
.gwt-ToggleButton-up-disabled {
   color:lime;
} 
.gwt-ToggleButton-down-disabled {
   color:maroon;
} 
 
 .startBtn , .raumreservierung_btn , .reportBtn , .profilBtn , .einstellungen_btn {background:none; border:none;margin-top:9px;
 
 }
 
 	 
 
 /*GWT DIALOG BOX - Edit Reservation*/
 .gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -2945px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -2144px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -32px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/circles.png) no-repeat -20px 0px;
  -background: url(images/circles_ie6.png) no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/circles.png) no-repeat -28px 0px;
  -background: url(images/circles_ie6.png) no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/circles.png) no-repeat 0px -36px;
  -background: url(images/circles_ie6.png) no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/circles.png) no-repeat -8px -36px;
  -background: url(images/circles_ie6.png) no-repeat -8px -36px;
}
html>body .gwt-DialogBox {
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.cw-DialogBox {
}

.headline{
	font-size: 19px;
	font-weight: bold;
	margin-top: 12px;
}

.description{
	line-height: 24px;
	font-size: 14;
	margin-bottom: 12px;
}
 
 
button.ReportBtn {
	margin-top: 18px;
 }
 .login-banner {
	background-color: #2D2D2D;
	border-bottom: 1px solid #000;
	color: #FFF;
	cursor: auto;
	font: 11px/27px Arial, sans-serif;
	font-weight: cursiv;
	height: 31px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 990;
}

.login-area,.login-area:hover,.login-area:visited {
	border: solid #2D2D2D;
	border-width: 4px;
	font-size: 13pt;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
}